
#footer{
  background: #333333;
  color: #CCCCCC;
  padding: 30px 0;
  font-weight: lighter;
}

#footer a{
  color: #CCCCCC;
}

#footer a:hover{
  color: yellow;
}

.list-inline>li{
  padding-right: 5px;
  padding-left: 5px;
}

.fa{
  font-size: 30px;
  padding-right: 17px;
}

#footer ul {
    margin-top: 10px;
}

#footer p {
    margin-top: 17px;
}
p {
    margin: 0 0 10px;
}
