
#footer{
  background: $gray;
  color: black;
  padding: 30px 0;
  font-weight: lighter;
}

#footer a{
  color: black;
  &hover{
  color: yellow;
  }
}


.list-inline>li{
  padding-right: 5px;
  padding-left: 5px;
}

.fa{
  font-size: 30px;
  padding-right: 17px;
}

#footer p {
  margin-top: 17px;
  ul {
    margin-top: 10px;
  }
}

p {
    margin: 0 0 10px;
}
